# Python
__pycache__/
*.pyc

__pycache__/
*.pyc

# Virtual env
.venv/

# OS junk
.DS_Store
Thumbs.db

# Node junk
frontend/node_modules/

# Other ignorable files
/model archives

# Reviews
Reviews/*
!Reviews/.gitkeep