# Python
__pycache__/
*.pyc

# Virtual env
.venv/

# OS junk
.DS_Store
Thumbs.db

# ML models / weights (DO NOT COMMIT)
/models/colorization/*.prototxt
/models/colorization/*.npy
/models/colorization/*.caffemodel

# Node junk
frontend/node_modules/

# Other ignorable files
/model archives

# Reviews
Reviews/*
!Reviews/.gitkeep